<!DOCTYPE html>
<html>
<head>
    <title>Traductor</title>
</head>
<body>
    <div style="color: blue; padding-top: 5%; text-align: center">
        <h1>Traductor simple</h1>
    </div>
    <div style="text-align: center">
    <form method="POST">
        <input type="text" name="text" placeholder="Introduce el texto aquí" required>
        <p>Indique el lenguaje al que desea traducir:</p>
        <br>
        <select name="language">
            <option value="en">Inglés</option>
            <option value="es">Español</option>
            <option value="fr">Francés</option>
            <option value="de">Alemán</option>
            <!-- Añade aquí más opciones de idioma según tus necesidades -->
        </select>
        <input type="submit" value="Traducir">
    </form>
    </div>
    <div style="text-align: center">
    {% if translated_text %}
    <h3>Texto traducido:</h3>
    <p>{{ translated_text }}</p>
    {% endif %}

    {% if lang_detected %}
    <h3>Idioma de entrada detectado:</h3>
    <p>{{ lang_detected }}</p>
    {% endif %}
    </div>
</body>
</html>
